.hide {
  transform: translateY(-100%);
}

.top {
  position: top;
}

.fixed {
  position: fixed;
}

#scrollArea {
  /*display: flex;
  justify-content: center;*/
  align-items: center;
  gap: 6px 10px; /* 余白 */
  background-color: #222;
  color: #ccc;

  width: 100%;
  top: 0;
  transition: 0.3s;
  z-index: 100;
  font: "Yu Gothic";
  font-size: 15px;
}
