.hide {
  transform: translateY(-100%);
}

#scrollArea {
  /*display: flex;
  justify-content: center;*/
  align-items: center;
  gap: 0px 10px; /* 余白 */
  background-color: #222;
  color: #ccc;
  position: fixed;

  width: 100%;
  top: 0;
  transition: 0.3s;
  z-index: 100;
  font: "Yu Gothic";
  font-size: 15px;
}

.outer {
  margin-left: auto;
  margin-right: auto;
  width: 420px;
}
